.no-padding{
	padding: 0 !important;
}

.no-padding-side{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-margin{
	margin: 0 !important
}

.signin{
	padding-top: 5%;
}

.sign-wrapper .page-panel{
	background: rgba(0,0,0,0.7);
	height: 100%;
}